/* #85a392 green */
/* #f5b971 orange */

@font-face {
    font-family:"Soccer";
    src: url("../fonts/soccer.ttf");
}

body {
    background-color: #1F5673;
    font-family: monospace;
}

input, button {
    font-family: monospace;
}

header {
    background-color: #232020; 
    color: whitesmoke;
    padding: 10px 40px;
}

footer {
    background-color: #232020; 
    color: whitesmoke;
    padding: 10px 40px;
    display: flex;
    justify-content: center;
}

header a {
    color: whitesmoke;
}

.myHorizontalNav {
    display: flex;
    justify-content: space-around;
}

a {
    text-decoration: none;
    color: black;
}

main {
    max-width: 600px;
    margin: auto;
    background-color: whitesmoke;
    height: 100vh;
}


#mainPanel {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../assets/forest.jpg");
    background-position: bottom;
    background-size: cover;
    height: 200px;
}

#mainPanel h2 {
    font-size: 48px;
    font-weight: bold;
    font-family: "Amatic SC";
    color: white;
    border: solid #232020 10px;
    border-radius: 5px;
    padding: 4px 32px;
}

#secondaryPanel {
    padding: 10px 40px;
}

#secondaryPanel h1 {
    font-size: 20px;
    padding-bottom: 10px;
}

#secondaryPanel img {
    border: solid whitesmoke 10px;
    box-shadow: 2px 2px 5px black;
    margin: 10px;
}

button {
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
}

button:hover {
    color: green;
    background: orange;
}

#newsFeed {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.articleImage {
    height: 100px;
    width: 100px;
}

.myArticle {
    border: solid gray 1px;
    padding: 10px;
    box-shadow: 2px 2px 5px black;
}

.myArticle h1 {
    color: green;
    font-size: 20px;
    padding-bottom: 5px;
}

.myArticle p {
    font-size: 10px;
    padding-top: 5px;
}

#day, #month, #year {
    width: 40px;
}

#result {
    border: solid black 1px;
    margin: 20px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;

}

#result p {
    font-size: 46px;
}

@keyframes transicionColores {
    0% {background-color: brown}
    100% {background-color: blueviolet}
}

#lista {
    border: solid black 1px;
    height: 200px;
    margin: 20px;
    padding: 40px;
}

#animado {
    border: solid black 1px;
    height: 200px;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#animado h1 {
    font-size: 36px;
    padding-bottom: 10px;
}

#animado:hover{
    animation-name: transicionColores;
    animation-duration: 3s;
}

#elementoLista {
    width: 200px;
}

#lista li {
    list-style-type: disc;
}

.customFont {
    font-family: Soccer;
    font-size: 24px;
    padding: 10px;
    background-color: #463730;
    border-radius: 5px;
    color: whitesmoke;
}

#noche {
    background: black;
    height: 100vh;
    width: 100vw;
}

.estrella {
    background-color: white;
    height: 2px;
    width: 2px;
    border-radius: 1px;
    position: absolute;
}

.position1 {
    left: 100px;
    top: 150px;
}

.position2 {
    left: 310px;
    top: 60px;
}

.position3 {
    left: 80px;
    top: 170px;
}

.position4 {
    left: 300px;
    top: 190px;
}


