/* #85a392 green */
/* #f5b971 orange */

@font-face {
    font-family:"Soccer";
    src: url("../fonts/soccer.ttf");
}

header {
    background-color: #85a392; 
    padding-top: 10px;
    padding-bottom: 10px;
}

.myHorizontalNav {
    display: flex;
    justify-content: space-around;
    width: 300px;
}

a {
    text-decoration: none;
    color: black;
}


#mainPanel {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../assets/forest.jpg");
    background-position: bottom;
    background-size: cover;
    height: 200px;
}

#mainPanel h2 {
    font-size: 48px;
    font-weight: bold;
    font-family: "Amatic SC";
    color: white;
    border: solid black 10px;
    border-radius: 5px;
    padding: 4px 32px;
}

button {
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
}

button:hover {
    color: green;
    background: orange;
}

#newsFeed {
    display: flex;
    justify-content: space-around;
}

.articleImage {
    height: 100px;
    width: 100px;
}

.myArticle {
    border: solid gray 1px;
    padding: 10px;
    box-shadow: 2px 2px 5px black;
}

.myArticle h1 {
    color: green;
    font-size: 20px;
    padding-bottom: 5px;
}

.myArticle p {
    font-size: 10px;
    padding-top: 5px;
}

